/* Remove padding and margin */ 
* {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #111;
}
.container {
  width: 640px;
  height: 640px;
  background-color: #777;
}
.cell {
  float: left;
  width: 40px;
  height: 40px;
  background-color: #efefef;
}
.cell:hover {
  background-color: #333;
}